* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    padding: 1rem;
    background-color: #555;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 10%);
}

h1 {
    text-align: center;
    color: white;
    margin: .5rem;
}

form {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;

}

input,
textrea,
select {
    padding: .75rems;
    min-width: 200px;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

button {
    background-color: #004466;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: .5px;
    border: 1px solid rgba(0, 0, 0, 10%);
}